.helenimg{
  max-width:200px;
  width:100%;
  height:auto;
  margin:0 auto;
  display:block;
  padding:1em;
}

.hheader{
  display:flex;
  justify-content: center;
  color:#292437;
}

#alex{
  text-align: center;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: hsla(0, 0%, 50%, 0.14)
}

#alex img{
  width: 100%;
  margin-bottom: 0.5rem;
}

#splash img{
  width: 100%;
}

ul.social-icons{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
}

ul.social-icons span{
  cursor: pointer;
}

ul.social-icons a{
  opacity: 0.6;
  color: #575656;
  transition: opacity 0.15s ease;
}

ul.social-icons a:hover{
  opacity: 1;
}

h1.logo{
  font-family: "Slabo 27px", serif;
  font-size: 2.5rem;
  text-align: center;
}
