#travstuff img{
  width: 100%;
  height: auto;
}
#travstuff li{
  font-family: sans-serif;
  color: maroon;
  text-align: center;
}
#travstuff{
  border: 1px solid maroon
}
#travstuff h1{
  font-weight: bold;
  text-align: center;
}
