#travstuff img{
  width: 327.36px;
  height: auto;
}
#travstuff li{
  font-family: sans-serif;
  color: maroon;
  text-align: center;
}
#travstuff{
  border: 1px solid maroon
}
.travheading {
  font-weight: bold;
  text-align: center;
}
