img {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(https://i.imgur.com/pYEIooC.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header h1 {
  display: block;
  max-width: 750px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: papayawhip;
  font-size: 300%;
  color: white;
  text-shadow: 1px 3px 10px black;
}

/* style your grid sections here!  */

.deondre {
  background-color: blue;
}

.mycontainer img {
  max-width:30%;
}

.mycontactinfo li {
  font: italic small-caps bold 16px/2 cursive;
}
