.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(https://i.imgur.com/pYEIooC.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header h1 {
  display: block;
  max-width: 750px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: papayawhip;
  font-size: 300%;
  text-shadow: 1px 3px 10px black;
}

img {
  width: 100%;
}

/* style your grid sections here!  */

#matthewricehouse {
  justify-content: center space-around;
  display: flex;
  flex-direction: column;
  background-color: papayawhip;
  font-family: 'Roboto Slab', serif;
  color: papayawhip;
  font-size: 300%;
  text-shadow: 1px 3px 10px black;
}

#matthewricehouse .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(https://i.ytimg.com/vi/aEr2Moh4vFo/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  padding: 20px;
  min-width: 1750px;
  min-height: 1750px;
}

#matthewricehouse .container ol {
  list-style: none;
  justify-content: space-around;
  text-align: left;
}

#matthewricehouse .container ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  text-align: center;
}

#matthewricehouse .container ul li {
  border-radius: 20px;
  border: 5px solid papayawhip;
  padding: 10px;
}

#KevinBox {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: darkgray;
  padding: 75px:
}
