.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(http://via.placeholder.com/450x150);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header h1 {
  display: block;
  max-width: 750px;
  text-align: center;
}

/* style your grid sections here!  */

/* Kelsey Sikes */
.Savvy {
  background-color:teal;
  font-family: 'Poppins', sans-serif;
  justify-content: center; 
}

.Kelsey {
  color: darkblue; 
  font-size: 35px; 
}

.Job {
  color: steelblue; 
}

.KSikes {
  width: 85%; 
}

.Kquote {
  font-style: italic; 
  color: steelblue;
}

.Kemail {
  color: darkblue; 
}

.Git {
  color: darkblue; 
}
