@import url('https://fonts.googleapis.com/css?family=Cabin|Lobster|Barlow|Kreon:700');

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: Barlow;
}

#title {
  font-family: Kreon;
  letter-spacing: 200%;
  display: block;
  font-size: 300%;
  line-height: 90%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(/class-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header h1 {
  display: block;
  max-width: 750px;
  text-align: center;
  color: white;
  font-size: 400%;
  margin-top: 0;
}


.five a {
  font-size: 3em;
  text-decoration: none;
  color: red;
  -webkit-text-stroke: 2px black;
}

.five {
  background-image: url(https://i.imgur.com/wdC1Jzk.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  vertical-align: middle;
  font-family: 'Lobster', cursive;
  color: red;
  -webkit-text-stroke: 2px black;
  user-select: none;
  display: flex;
}

.five:hover {
  opacity: .5
}

.five img {
  height: 75px;
  border-radius: 40px;
}

.subfive {
  margin: auto;
}

.andrewDiv>img {
  width: 100%;
  box-shadow: 2px 2px 10px black;
}

.andrewDiv {
  background: crimson;
  font-family: arial;
}

.content>div:nth-child(12) {
  background: crimson;
}

.kyle {
  width: auto;
  max-height: 300px;
}

#me {
  background: url('//thewallpaper.co/wp-content/uploads/2016/10/Amazing-Abstract-Pictures-HD-1080p-desktop-images-download-hd-free-windows-wallpaper-samsung-iphone-mac-1920x1080.jpg');
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

#me {
     animation: colorchange 10s  infinite;
     -webkit-animation: colorchange 15s infinite;


 	background-size:cover;
 	-moz-box-shadow:    inset 0 0 280px #000000;
 	-webkit-box-shadow: inset 0 0 280px #000000;
 	box-shadow:         inset 0 0 280px #000000;
 }
}
   }

   @keyframes colorchange
   {
     0%   {background: Baby Blue}
     25%  {background: Blood Orange}
     50%  {background: Blue-Gray;}
     75%  {background: Violet;}
     100% {background: Aqua;}
   }

   @-webkit-keyframes colorchange
   {
     0%   {background: Baby Blue;}
     25%  {background: Blood Orange;}
     50%  {background: Blue-Gray;}
     75%  {background: Violet;}
     100% {background: Aqua;}
   }

#jonai {
  text-align:center;
  font-family: Josefin Slab;
  border-right: .1em solid #848484;
  width: calc(0.55em * 14);
  width: 31ch;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 15s infinite steps(31, end), blink-caret .5s step-end infinite alternate;
  animation: typing 15s infinite steps(31, end), blink-caret .5s step-end infinite alternate;
}

#jonai {
  font-family: Comic Sans MS;
  text-decoration: underline;
  color: hotpink;
  text-align: center;
}
#jonai{
  font-family:"cursive";
  color:black;
  font-size:60px;

}
#Fa{
  font-size:30px;
  color:black;

}
#Fr:hover{
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}
#Fr{
  font-size:30px;
  color:black;
}

#Fa:hover {
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
}
@font-face {
font-family: "cursive";
src: url("../fonts/cursive.ttf");
font-style:normal;
font-weight:100;
}

#jpri{
  font-family: "cursive";
  src: url("../fonts/cursive.ttf");
  font-style:normal;
  font-weight:100;
  font-size:35px;
  text-align: center;
}

}

.meaganDiv {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  background-image: url("http://www.publicdomainpictures.net/pictures/120000/velka/teal-patterned-abstract-wallpaper.jpg");
}

.meaganDiv>h1 {
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
}

.meaganDiv>a {
  color: black;
  font-family: monospace;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

#meaganPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 7px solid cornsilk;
}

.MartinsDiv {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  background-color: lightcoral;
}

.MartinsDiv>img {
  display: block;
  width: 100%;
}

.MartinsDiv>h1 {
  font-family: Verdana;
  font-size: 2em;
  color: blue;
}

.MartinsDiv>a {
  font-family: Verdana;
  font-size: 1em;
  color: blue;
  padding: 10px;
}

.rjLayout h1 {
  font-size: 4em;
  font-weight: 500;
  font-style: oblique;
  padding: 10px 50px 10px 100px;
  color: blue;
}

.rjLayout>img {
  width: 50%;
  height: auto;
  padding: 10px 50px 10px 100px;
}

.rjLayout>h2 {
  font-size: 2em;
  padding: 10px 50px 10px 100px;
}

div.rjLayout {
  background-color: lightblue;
}

.leodiv>img {
  width: 50%;
}

div.JanaeDiv {
  background-color: lightgreen;
}

.JanaeDiv h1 {
  color: deeppink;
}

.JanaeDiv img {
  width: 94%;
}

.teesaBox {
  background-color: steelblue;
}

.teesaBox img {
  width: 30%;
  height: 30%;
}

.brandondiv {
  background-color: green;
}
