.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(http://via.placeholder.com/450x150);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header h1 {
  display: block;
  max-width: 750px;
  text-align: center;
}

/* style your grid sections here!  */

#kayla {
  border: .5em solid black;
  font-family: 'Annie Use Your Telescope', cursive;
  background-color: darkslategray;
  color: darksalmon;
  padding: 1.3em;
  text-align: center;
}


#kayla p {
  font-family: 'Alex Brush', cursive;
  font-size: 2em;
  color: bisque;
}

#kayla li:hover {
  color: bisque;
}
#kayla ul {
  background-color: darkred;
  font-size: 1.75em;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#kayla ul > li {
list-style: none; 

}

#kayla img {
  margin: auto;
  padding: 1.3em;
  display: block;
  width: 80%;
  max-width: 300px;
}