.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(https://i.imgur.com/LBeJiOe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header h1 {
  display: block;
  max-width: 750px;
  text-align: center;
}
.img {
  width: 100px;
}
/* style your grid sections here!  */

/* Tyler's style (box 4) */
#tkbox {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    font-family: garamond;
    background-color: wheat;
}

#tkbox img {
  width: 75%;
  margin: 0 auto;
  display: flex;
  top: 0;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
}

#tkbox > div {

  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  display: flex;
}

#tkbox h1 {

}

#tkbox h2 {
  font-style: italic;
}

#tkbox li {
  font-weight: bold;
  width: 100%;
}

#tkbox a:hover {
  color: crimson;
  font-size: 17px;
}

.content div:nth-child(6) {
  background-color: papayawhip;
}
