.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(http://via.placeholder.com/450x150);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header h1 {
  display: block;
  max-width: 750px;
  text-align: center;
}

h2 {
  font-style: italic;
  font-family: cursive;
  background-color: yellow;

}

/* style your grid sections here!  */
