.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(https://i.imgur.com/qdu5jTA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header h1 {
  display: block;
  max-width: 750px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}
img {
  max-width: 350px;
}

/* style your grid sections here!  */
img {
  width: 90%;
}

#adamsbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: antiquewhite;
  text-align: center;
}

#adamsbox ul {
  list-style: none;
}

#adamsbox img {
  max-width: 90%;
  max-height: 25%;
}

#adamsbox div {
  width: 100%;
}

.bread {
  background: #faab3e;
}

.meat {
  background: #a33815;
}

.meat p {
  position: sticky;
  bottom: 15px;
  color: white;
  text-decoration-style: solid;
}

.mustard {
  background: #ffda01;
}

.ketchup {
  background: #e81802;
}

.lettuce {
  background: #a1d501;
}