.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(https://res.cloudinary.com/dfcybzffo/image/upload/v1557280082/IMG_20190507_204434_sry8te.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header h1 {
  display: block;
  max-width: 750px;
  text-align: center;
}

#quinn {
  background-color: #2a0867;
  color: #b371f4;
  font-family: 'Cutive Mono', monospace;
}

#quinn a {
  color: #b371f4;
  font-weight: bold;
}

#quinn a:hover {
  font-weight: bolder;
}

#quinn a:visited {
  font-weight: 100;
}

#quinn h1 {
  font-weight: bolder;
}

/* style your grid sections here!  */